<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>LocationAccuracyAuthorizationDescription</key>
	<string>TruckNav Pro needs precise location data to provide accurate turn-by-turn navigation, lane guidance, and truck-specific routing. Reduced accuracy may result in navigation errors.</string>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoiZHRyZXZvbjJrMjAiLCJhIjoiY21obGZzb2ppMWwxazJqcHRpaTJhbTZnciJ9.vTBrfzWDPi4DQ86JEKULiA</string>
	<key>OpenWeatherKey</key>
	<string>0e1239c7d0febb15d3c23d370e0af89e</string>
	<key>RevenueCatAPIKey</key>
	<string>appl_IbKfZxaIBJqapJwVjsUwLKOLDsk</string>
	<key>SupabaseAnonKey</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRzamFxaGV0bnNuaHFnbmZoaWtuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE1MjE0MDEsImV4cCI6MjA3NzA5NzQwMX0.PiTGfyYpKtanp2DnyVx_LYB4tUM0t_DnmgVK4IHH75c</string>
	<key>SupabaseURL</key>
	<string>https://tsjaqhetnsnhqgnfhikn.supabase.co</string>
	<key>TomTomAPIKey</key>
	<string>Nq78WMNfPT4Xvm8jV7KiYGp6nb55VDkO</string>
	<key>HEREAPIKey</key>
	<string>cShfBqDH1mg-6vPdVI2t6S-Bp1l5_omUW2RMrSBywFM</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
	</array>
</dict>
</plist>
